html {
    scroll-behavior: smooth;
}

    body {
        margin: 0;
        font-family: sans-serif;
        background-color: #ffffff;
        color: #1a1a1a;
    }

    .contendor-seccion {
        max-width: 1200px;
        margin: auto;
        padding: 2em 1em;
    }

    header {
        background-color: black;
        color: white;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .logo {
        width: 150px;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }

    .nav {
        list-style: none;
        display: flex;
        gap: 1em;
        padding: 0;
        margin: 0;
    }
    
    .nav a {
        text-decoration: none;
        color: white;
        padding: 0.3em 1em;
        border-radius: 4px;
        transition: backround 0.3s ease;
    }
    
    .nav a:hover,
    .nav .active {
        background-color: #e10073 ;
    }

    .hero {
        background: linear-gradient(to right, #1a1a1a, #4a4a4a);
        text-decoration-color: white;
        text-align: center;
        padding: 4em 1em;
    }
    .hero h1 {
        font-weight: 2.5em;
        margin-bottom: 0.5em;
    }

    .eventos {
        padding:3em 1em;
        justify-content: center;
    }

    .evento-grid {
        flex-wrap: wrap;
        display: flex;
        padding: 2em;

    }

    .Organizadores img {
        width: 150px;
        height: auto;
        border-style: none;
        border-radius: 100px;
    }

    .Organizadores {
        display: flex;
        justify-content: space-around;
    }

    .persona1 {
        border: grey 2px;
        border-style: solid ;
        width: 245px;
        height: auto ;
        border-radius: 10px;
    }

    .contenedor-persona1 {
        padding-left: 50px;
        margin-top: 25px;
    }

    .persona2 {
        border: grey 2px;
        border-style: solid ;
        width: 245px;
        height: auto ;
        border-radius: 10px;
    }

    .contenedor-persona2 {
        padding-left: 50px;
        margin-top: 25px;
        
    }

    .persona3 {
        border: grey 2px;
        border-style: solid ;
        width: 245px;
        height: auto ;
        border-radius: 10px;
    }

    .contenedor-persona3 {
        padding-left: 50px;
        margin-top: 25px;
    }

    .Produccion h2 {
        padding-left: 570px;
    }

    footer {
        background-color: black;
        display: flex;
        justify-content: space-around;
        
    }
    footer img {
        width: 100px;
        height: auto;
    }


=======


    